services:
  backend:
    build:
      context: ./backend
      target: production
    environment:
      TMDB_API_KEY: "${TMDB_API_KEY}"
    ports:
      - "8000:8000"
    volumes:
      - "./data:/app/data"
  frontend:
    build:
      context: ./frontend
      target: production
    ports:
      - "80:80"


